<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:ldap="http://www.springframework.org/schema/ldap" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd 
    http://www.springframework.org/schema/ldap http://www.springframework.org/schema/ldap/spring-ldap.xsd
	http://www.springframework.org/schema/security
	http://www.springframework.org/schema/security/spring-security.xsd">

	<!-- Applies to root appContext beans only, for MVC Controllers is this 
		declaration repeated in MVC config. Actually, we currently don't need this 
		as we have on annotation outside of MVC. There is more here that can go wrong. 
		If you use interface-based proxy (our demo uses CGLib), you may need to add 
		proxy-target-class="true" as well. Book "Spring Security 3.1", Chapter 10, 
		Fine-grained Access Control, from header "Method security on Spring MVC controllers" 
		on discusses these topics. -->

	<context:property-placeholder location="classpath:/ldap.properties"
		system-properties-mode="OVERRIDE" />
	<context:annotation-config />

	<!-- Important for @Secured annotations to work. Here we enable all three 
		of them - @Secured, @PreAuthorize and @RolesAllowed. You may choose what 
		you use. Check MainRestController for examples. -->
	<global-method-security secured-annotations="enabled"
		pre-post-annotations="enabled" jsr250-annotations="enabled" />

	<http security="none" pattern="/login.jsp" />
	<http auto-config="true">
		<!-- <form-login login-page="/login.jsp" login-processing-url="/login"
			username-parameter="username" password-parameter="password" /> -->
		<intercept-url pattern="/login" access="IS_AUTHENTICATED_ANONYMOUSLY"/>
		<intercept-url pattern="/admin" access="ROLE_AUTHORITY_SYSTEM_ADMIN"/>
<!-- 		<intercept-url pattern="/login" access="IS_AUTHENTICATED_ANONYMOUSLY" />
		<intercept-url pattern="/**" access="ROLE_USER" /> -->
	</http>

	<authentication-manager alias="ldapAuthenticationManager">
		<!-- do service account ldap auth -->
		<authentication-provider ref="userAuthProvider"></authentication-provider>
	</authentication-manager>

	<authentication-manager id="apiAccessAuthenticationManager">
		<authentication-provider ref="userAuthProvider" />
	</authentication-manager>

	<beans:bean id="ldapSource"
		class="org.springframework.security.ldap.DefaultSpringSecurityContextSource">
		<beans:constructor-arg name="providerUrl" value="${sample.ldap.url}" />
		<beans:property name="userDn" value="${sample.ldap.userDn}" />
		<beans:property name="password" value="${sample.ldap.password}" />
	</beans:bean>

	<beans:bean id="userSearch"
		class="org.springframework.security.ldap.search.FilterBasedLdapUserSearch">
		<beans:constructor-arg index="0"
			value="${sample.ldap.base}" />
		<beans:constructor-arg index="1"
			value="${ldap.user.searchPattern}" />
		<beans:constructor-arg index="2" ref="ldapSource" />
	</beans:bean>

	<beans:bean id="populator"
		class="cn.jw.authority.rest.security.AuthoritiesPopulator">
		<beans:constructor-arg index="0" ref="ldapSource" />
		<beans:constructor-arg index="1"
			value="${ldap.user.groupSearchBase}" />
		<beans:constructor-arg index="2"
			value="${ldap.acl.adminRole}" />
		<beans:constructor-arg index="3"
			value="${ldap.acl.defaultRole}" />
	</beans:bean>

	<beans:bean id="userAuthProvider"
		class="cn.jw.authority.rest.security.MyAuthenticationProvider">
		<beans:constructor-arg>
			<beans:bean id="ldapUserAuthenticationProvider"
				class="org.springframework.security.ldap.authentication.LdapAuthenticationProvider">
				<beans:constructor-arg>
					<beans:bean
						class="org.springframework.security.ldap.authentication.BindAuthenticator">
						<beans:constructor-arg ref="ldapSource" />
						<beans:property name="userSearch" ref="userSearch">
						</beans:property>
					</beans:bean>
				</beans:constructor-arg>
				<beans:constructor-arg ref="populator">
				</beans:constructor-arg>
			</beans:bean>
		</beans:constructor-arg>
	</beans:bean>

	<beans:bean id="ldapUserService"
		class="org.springframework.security.ldap.userdetails.LdapUserDetailsService">
		<beans:constructor-arg ref="userSearch">
		</beans:constructor-arg>
		<beans:constructor-arg ref="populator">
		</beans:constructor-arg>
	</beans:bean>

</beans:beans>